<div class="flex flex-col gap-4">
  <p>{{editMode ? 'Update' : 'Create'}} Automation</p>
<!--  <form [formGroup]="automationForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 max-w-80">-->

<!--    &lt;!&ndash;      <p-floatlabel>&ndash;&gt;-->
<!--    &lt;!&ndash;        <input-text pInputText id="over_label" [(ngModel)]="value1" autocomplete="off" />&ndash;&gt;-->
<!--    &lt;!&ndash;        <label for="over_label">Over Label</label>&ndash;&gt;-->
<!--    &lt;!&ndash;      </p-floatlabel>&ndash;&gt;-->

<!--    <app-input-text-->
<!--      [form]="automationForm"-->
<!--      [formSubmitted]="formSubmitted"-->
<!--      controlName="serverId"-->
<!--      title="Server ID"-->
<!--      type="text"-->
<!--    >-->
<!--    </app-input-text>-->

<!--    <app-checkbox-->
<!--      [form]="automationForm"-->
<!--      [formSubmitted]="formSubmitted"-->
<!--      controlName="isActive"-->
<!--      title="Active"-->
<!--    ></app-checkbox>-->

<!--    <app-checkbox-->
<!--      [form]="automationForm"-->
<!--      [formSubmitted]="formSubmitted"-->
<!--      controlName="isDemo"-->
<!--      title="Demo"-->
<!--    ></app-checkbox>-->

<!--    <div class="flex flex-col gap-4">-->
<!--      &lt;!&ndash;        @if ($assistantVoices | async; as voices) {&ndash;&gt;-->
<!--      <app-select-->
<!--        [form]="getConfigForm()"-->
<!--        [formSubmitted]="formSubmitted"-->
<!--        [options]="voices"-->
<!--        controlName="voice"-->
<!--        title="Voice"-->
<!--        optionLabel="name"-->
<!--        optionValue="name"-->
<!--      ></app-select>-->

<!--&lt;!&ndash;      <app-input-number&ndash;&gt;-->
<!--&lt;!&ndash;        [form]="getConfigForm()"&ndash;&gt;-->
<!--&lt;!&ndash;        [formSubmitted]="formSubmitted"&ndash;&gt;-->
<!--&lt;!&ndash;        controlName="volume"&ndash;&gt;-->
<!--&lt;!&ndash;        label="Volume (1.0 - 2.0)"&ndash;&gt;-->
<!--&lt;!&ndash;        [min]="1"&ndash;&gt;-->
<!--&lt;!&ndash;        [max]="2"&ndash;&gt;-->
<!--&lt;!&ndash;        [minFractionDigits]="2"&ndash;&gt;-->
<!--&lt;!&ndash;        [maxFractionDigits]="2"&ndash;&gt;-->
<!--&lt;!&ndash;      />&ndash;&gt;-->

<!--      <app-input-number-->
<!--        [form]="getConfigForm()"-->
<!--        [formSubmitted]="formSubmitted"-->
<!--        controlName="speed"-->
<!--        label="Speed (1.0 - 2.0)"-->
<!--        [min]="1"-->
<!--        [max]="2"-->
<!--        [minFractionDigits]="2"-->
<!--        [maxFractionDigits]="2"-->
<!--      />-->
<!--    </div>-->

<!--    <button id="btn-reset" class="btn btn-ghost" type="submit">{{editMode ? 'Update' : 'Create'}} automation</button>-->
<!--  </form>-->

<!--  @if (automationStore.automation()?.id && workspacesStore.workspaces()?.items > 0) {-->

    <p-panel [toggleable]="true" [collapsed]="true">
      <ng-template #header>
        <div class="flex items-center gap-2">
          <span class="font-bold">Workspaces</span>
        </div>
      </ng-template>
      <ng-template #icons>
        <p-menu #menu id="config_menu1" [model]="items" [popup]="true" />
      </ng-template>
      <p-table
        class="bg-[#1018278c] rounded-2xl"
        [value]="workspacesStore.workspaces()?.items"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [rowHover]="true"
        selectionMode="single"
      >
        <ng-template #header>
          <tr>
            <th>Id</th>
            <th>Company name</th>
            <th>Email owner</th>
            <th>ID owner</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template #body let-workspace>
          <tr class="cursor-pointer" [pSelectableRow]="workspace">
            <td>{{ workspace.id }}</td>
            <td>{{ workspace.companyName || '-' }}</td>
            <td>{{ workspace.ownerEmail || '-' }}</td>
            <td>{{ workspace.ownerId || '-' }}</td>
            <td>{{ workspace.status || '-' }}</td>
            <td (click)="$event.stopPropagation()">
              <div class="flex gap-2">
                @if (isWorkspaceAttached(workspace.id)) {
                  <p-button severity="danger" (onClick)="detachWorkspace(workspace.id)">Detach</p-button>
                } @else {
                  <p-button (onClick)="appendWorkspace(workspace.id)">Append</p-button>
                }
              </div>
            </td>
<!--            <td (click)="$event.stopPropagation()">-->
<!--              <div class="flex gap-2">-->
<!--                @if (isUserAttached(user.id)) {-->
<!--                  <p-button severity="danger" (click)="detachUsers(user.id)">Detach</p-button>-->
<!--                } @else {-->
<!--                  <p-button (click)="appendUsers(user.id)">Append</p-button>-->
<!--                }-->
<!--              </div>-->
<!--            </td>-->
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
<!--  }-->
</div>
