<div class="flex flex-col gap-4">
  <p>{{editMode ? 'Update' : 'Create'}} Automation</p>
  <form [formGroup]="automationForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 max-w-80">

    <!--      <p-floatlabel>-->
    <!--        <input pInputText id="over_label" [(ngModel)]="value1" autocomplete="off" />-->
    <!--        <label for="over_label">Over Label</label>-->
    <!--      </p-floatlabel>-->

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <input class="w-full" pInputText type="text" id="serverId" formControlName="serverId" autocomplete="off" [invalid]="isInvalidAutomationControl('serverId')" />
        <label for="serverId">Server ID</label>
      </p-floatlabel>
      @if (isInvalidAutomationControl('serverId')) {
        <p-message severity="error" size="small" variant="simple">Server ID is required.</p-message>
      }
    </div>

    <div class="flex items-center gap-2">
      <p-checkbox [formControlName]="'isActive'" [binary]="true" [inputId]="'isActive'" [invalid]="isInvalidAutomationControl('isActive')" />
      <label [for]="'isActive'">Active</label>
    </div>

    <div class="flex items-center gap-2">
      <p-checkbox [formControlName]="'isDemo'" [binary]="true" [inputId]="'isDemo'" [invalid]="isInvalidAutomationControl('isDemo')" />
      <label [for]="'isDemo'">Demo</label>
    </div>

    <div formGroupName="config" class="flex flex-col gap-4">
      <!--        @if ($assistantVoices | async; as voices) {-->
      <div class="flex flex-col gap-1">
        <p-floatlabel variant="on">
          <p-select formControlName="voice" [options]="voices" [invalid]="isInvalidConfigControl('voice')" optionLabel="name" class="w-full"/>
          <label for="serverId">Voice</label>
        </p-floatlabel>
        @if (isInvalidConfigControl('voice')) {
          <p-message severity="error" size="small" variant="simple">Voice is required.</p-message>
        }
      </div>
      <!--        }-->

      <div class="flex flex-col gap-1">
        <p-floatlabel variant="on">
          <p-input-number
            inputId="integeronly"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [min]="1.0"
            [max]="2.0"
            formControlName="volume"
            [invalid]="isInvalidConfigControl('volume')"
            class="w-full"
          />
          <label for="serverId">Volume (1.0 - 2.0)</label>
        </p-floatlabel>
        @if (isInvalidConfigControl('volume')) {
          <p-message severity="error" size="small" variant="simple">Volume is required</p-message>
        }
      </div>

      <div class="flex flex-col gap-1">
        <p-floatlabel variant="on">
          <p-input-number
            inputId="integeronly"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [min]="1.0"
            [max]="2.0"
            formControlName="speed"
            [invalid]="isInvalidConfigControl('speed')"
            class="w-full"
          />
          <label for="serverId">Speed (1.0 - 2.0)</label>
        </p-floatlabel>
        @if (isInvalidConfigControl('speed')) {
          <p-message severity="error" size="small" variant="simple">Speed is required</p-message>
        }
      </div>

    </div>
<!--    <div class="flex flex-col gap-1">-->
<!--      <p-floatlabel variant="on">-->
<!--        <p-multi-select-->
<!--          optionLabel="email"-->
<!--          optionValue="id"-->
<!--          formControlName="users"-->
<!--          filter-->
<!--          [fluid]="true"-->
<!--          [options]="userStore.users().items"-->
<!--          [disabled]="false"-->
<!--          [showToggleAll]="false"-->
<!--          class="w-full"-->
<!--        />-->
<!--        <label for="serverId">Linking Users</label>-->
<!--      </p-floatlabel>-->
<!--    </div>-->

    <button id="btn-reset" class="btn btn-ghost" type="submit">{{editMode ? 'Update' : 'Create'}} automation</button>
  </form>

  <h1>Users</h1>
  <p-table
    [value]="userStore.users()?.items!"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rowHover]="true"
    selectionMode="single"
  >
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Address</th>
        <th>Billing</th>
        <th>Company name</th>
        <th>Contact Person</th>
        <th>Email</th>
        <th>Actvie</th>
        <th>Registration date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr class="cursor-pointer" [pSelectableRow]="user">
        <td>{{ user.id }}</td>
        <td>{{ user.address || '-' }}</td>
        <td>{{ user.billing?.account || '-' }}</td>
        <td>{{ user.companyName || '-' }}</td>
        <td>{{ user.contactPerson || '-' }}</td>
        <td>{{ user.email || '-' }}</td>
        <td>{{ user.isActive || '-' }}</td>
        <td>{{ user.registrationDate || '-' | date }}</td>
        <td (click)="$event.stopPropagation()">
          <div class="flex gap-2">
            @if (isUserAttached(user.id)) {
              <p-button severity="danger" (click)="detachUsers(user.id)">Detach</p-button>
            } @else {
              <p-button (click)="appendUsers(user.id)">Append</p-button>
            }
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
