<p-stepper [(value)]="stepValue" (valueChange)="onStepChange($event)" class="basis-[50rem]" [linear]="true">
  <p-step-list>
    <p-step [value]="1">Onboarding I</p-step>
    <p-step [value]="2">Onboarding II</p-step>
  </p-step-list>
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col h-48">
          <div class="card">
            <p-tabs [(value)]="tabValue">
              <p-tablist>
                @for (tab of tabs; track tab.value) {
                  <p-tab [value]="tab.value">{{ tab.title }}</p-tab>
                }
              </p-tablist>
              <p-tabpanels>
                @for (tab of tabs; let i = $index; track tab.value) {
                  <p-tabpanel [value]="tab.value">
                    @switch (tab.value) {
                      @case (0) {
                        <form action="" [formGroup]="privateForm" class="flex flex-col gap-4">
                          <div class="flex items-center gap-2">
                            <p-checkbox [formControlName]="'invoice'" [binary]="true" [inputId]="'invoice'"/>
                            <label [for]="'invoice'">I need an invoice</label>
                          </div>

                          @if (privateForm.value.invoice) {
                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="fullName" formControlName="fullName" autocomplete="off" [invalid]="isInvalidPrivateControl('fullName')" />
                                <label for="fullName">Full name</label>
                              </p-floatlabel>
                              @if (isInvalidPrivateControl('fullName')) {
                                <p-message severity="error" size="small" variant="simple">Full name is required.</p-message>
                              }
                            </div>

                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="address" formControlName="address" autocomplete="off" [invalid]="isInvalidPrivateControl('address')" />
                                <label for="address">Address</label>
                              </p-floatlabel>
                              @if (isInvalidPrivateControl('address')) {
                                <p-message severity="error" size="small" variant="simple">Address is required.</p-message>
                              }
                            </div>

                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="city" formControlName="city" autocomplete="off" [invalid]="isInvalidPrivateControl('city')" />
                                <label for="city">City</label>
                              </p-floatlabel>
                              @if (isInvalidPrivateControl('city')) {
                                <p-message severity="error" size="small" variant="simple">City is required.</p-message>
                              }
                            </div>

                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="country" formControlName="country" autocomplete="off" [invalid]="isInvalidPrivateControl('country')" />
                                <label for="country">Country</label>
                              </p-floatlabel>
                              @if (isInvalidPrivateControl('country')) {
                                <p-message severity="error" size="small" variant="simple">Country is required.</p-message>
                              }
                            </div>

                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="postIndex" formControlName="postIndex" autocomplete="off" [invalid]="isInvalidPrivateControl('postIndex')" />
                                <label for="postIndex">Post Index</label>
                              </p-floatlabel>
                              @if (isInvalidPrivateControl('postIndex')) {
                                <p-message severity="error" size="small" variant="simple">Post Index is required.</p-message>
                              }
                            </div>
                          }
                        </form>

                        <div class="flex pt-4 justify-between">
                          <div class="flex pt-4 justify-end">
                            <p-button label="Skip for now" severity="secondary"/>
                          </div>

                          <div class="flex pt-4 justify-end">
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextPrivateStep(activateCallback)" />
                          </div>
                        </div>
                      }
                      @case (1) {
                        @if (companyForm) {
                          <form action="" [formGroup]="companyForm" class="flex flex-col gap-4">

                            <div class="flex items-center gap-2">
                              <p-checkbox [formControlName]="'invoice'" [binary]="true" [inputId]="'invoice-company'"/>
                              <label [for]="'invoice-company'">I need an invoice</label>
                            </div>

                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="name" formControlName="name" autocomplete="off" [invalid]="isInvalidCompanyControl('name')" />
                                <label for="name">Full name</label>
                              </p-floatlabel>
                              @if (isInvalidCompanyControl('name')) {
                                <p-message severity="error" size="small" variant="simple">Company name is required.</p-message>
                              }
                            </div>

                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="website" formControlName="website" autocomplete="off" [invalid]="isInvalidCompanyControl('website')" />
                                <label for="website">Website</label>
                              </p-floatlabel>
                              @if (isInvalidCompanyControl('website')) {
                                <p-message severity="error" size="small" variant="simple">Website is required.</p-message>
                              }
                            </div>

                            <div class="flex flex-col gap-1">
                              <p-floatlabel variant="on">
                                <input class="w-full" pInputText type="text" id="tax" formControlName="tax" autocomplete="off" [invalid]="isInvalidCompanyControl('tax')" />
                                <label for="tax">Tax</label>
                              </p-floatlabel>
                              @if (isInvalidCompanyControl('tax')) {
                                <p-message severity="error" size="small" variant="simple">Tax is required.</p-message>
                              }
                            </div>
                            @if (companyForm.value.invoice) {
                              <div class="flex flex-col gap-1">
                                <p-floatlabel variant="on">
                                  <input class="w-full" pInputText type="text" id="address" formControlName="address" autocomplete="off" [invalid]="isInvalidCompanyControl('address')" />
                                  <label for="address">Address</label>
                                </p-floatlabel>
                                @if (isInvalidCompanyControl('address')) {
                                  <p-message severity="error" size="small" variant="simple">Company address is required.</p-message>
                                }
                              </div>
                            }
                          </form>
                        }

                        <div class="flex pt-4 justify-end">
                          <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCompanyStep(activateCallback)" />
                        </div>
                      }
                    }

                  </p-tabpanel>
                }
              </p-tabpanels>
            </p-tabs>
          </div>
        </div>
      </ng-template>
    </p-step-panel>
    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col h-48">
          <div class="card">
            <form [formGroup]="businessForm" class="flex flex-col gap-4">

            </form>
          </div>
        </div>
        <div class="flex pt-6 justify-between">
          <div class="flex gap-2">
            <p-button label="Back" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
            <p-button label="Skip for now" severity="secondary" />
          </div>
          <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>
