<div class="flex flex-col gap-4">
  <p>{{editMode ? 'Update' : 'Create'}} Automation</p>
  <form [formGroup]="automationForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 max-w-80">

    <!--      <p-floatlabel>-->
    <!--        <input pInputText id="over_label" [(ngModel)]="value1" autocomplete="off" />-->
    <!--        <label for="over_label">Over Label</label>-->
    <!--      </p-floatlabel>-->

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <input class="w-full" pInputText type="text" id="serverId" formControlName="serverId" autocomplete="off" [invalid]="isInvalidAutomationControl('serverId')" />
        <label for="serverId">Server ID</label>
      </p-floatlabel>
      @if (isInvalidAutomationControl('serverId')) {
        <p-message severity="error" size="small" variant="simple">Server ID is required.</p-message>
      }
    </div>

    <div class="flex items-center gap-2">
      <p-checkbox [formControlName]="'isActive'" [binary]="true" [inputId]="'isActive'" [invalid]="isInvalidAutomationControl('isActive')" />
      <label [for]="'isActive'">Active</label>
    </div>

    <div class="flex items-center gap-2">
      <p-checkbox [formControlName]="'isDemo'" [binary]="true" [inputId]="'isDemo'" [invalid]="isInvalidAutomationControl('isDemo')" />
      <label [for]="'isDemo'">Demo</label>
    </div>

    <div formGroupName="config" class="flex flex-col gap-4">
      <!--        @if ($assistantVoices | async; as voices) {-->
      <div class="flex flex-col gap-1">
        <p-floatlabel variant="on">
          <p-select formControlName="voice" [options]="voices" [invalid]="isInvalidConfigControl('voice')" optionLabel="name" class="w-full"/>
          <label for="serverId">Voice</label>
        </p-floatlabel>
        @if (isInvalidConfigControl('voice')) {
          <p-message severity="error" size="small" variant="simple">Voice is required.</p-message>
        }
      </div>
      <!--        }-->

      <div class="flex flex-col gap-1">
        <p-floatlabel variant="on">
          <p-input-number
            inputId="integeronly"
            mode="decimal"
            [minFractionDigits]="2"
            formControlName="volume"
            [invalid]="isInvalidConfigControl('volume')"
            [maxlength]="1"
            [max]="2"
            [min]="1"
            class="w-full"
          />
          <label for="serverId">Volume (1.0 - 2.0)</label>
        </p-floatlabel>
        @if (isInvalidConfigControl('volume')) {
          <p-message severity="error" size="small" variant="simple">Volume is required</p-message>
        }
      </div>

      <div class="flex flex-col gap-1">
        <p-floatlabel variant="on">
          <p-input-number
            inputId="integeronly"
            mode="decimal"
            [minFractionDigits]="2"
            formControlName="speed"
            [invalid]="isInvalidConfigControl('speed')"
            [maxlength]="1"
            [max]="2"
            [min]="1"
            class="w-full"
          />
          <label for="serverId">Speed (1.0 - 2.0)</label>
        </p-floatlabel>
        @if (isInvalidConfigControl('speed')) {
          <p-message severity="error" size="small" variant="simple">Speed is required</p-message>
        }
      </div>

    </div>

    <button id="btn-reset" class="btn btn-ghost" type="submit">{{editMode ? 'Update' : 'Create'}} automation</button>
  </form>
</div>
