<div class="flex flex-col gap-4">
  <p>{{editMode ? 'Update' : 'Create'}} User</p>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 max-w-80">

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <input class="w-full" pInputText type="text" id="email" formControlName="email" autocomplete="off" [invalid]="isInvalidUserControl('email')" />
        <label for="email">Email</label>
      </p-floatlabel>
      @if (isInvalidUserControl('email')) {
        <p-message severity="error" size="small" variant="simple">Email must be correct</p-message>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <input class="w-full" pInputText type="text" id="companyName" formControlName="companyName" autocomplete="off" [invalid]="isInvalidUserControl('companyName')" />
        <label for="companyName">Company name</label>
      </p-floatlabel>
      @if (isInvalidUserControl('companyName')) {
        <p-message severity="error" size="small" variant="simple">Company name is required.</p-message>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <input class="w-full" pInputText type="text" id="address" formControlName="address" autocomplete="off" [invalid]="isInvalidUserControl('address')" />
        <label for="address">Address</label>
      </p-floatlabel>
      @if (isInvalidUserControl('address')) {
        <p-message severity="error" size="small" variant="simple">Address is required.</p-message>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <input class="w-full" pInputText type="text" id="contactPerson" formControlName="contactPerson" autocomplete="off" [invalid]="isInvalidUserControl('contactPerson')" />
        <label for="contactPerson">Contact person</label>
      </p-floatlabel>
      @if (isInvalidUserControl('contactPerson')) {
        <p-message severity="error" size="small" variant="simple">Contact person is required.</p-message>
      }
    </div>

    <div class="flex flex-col gap-1" formGroupName="billing">
      <p-floatlabel variant="on">
        <input class="w-full" pInputText type="text" id="account" formControlName="account" autocomplete="off" [invalid]="isInvalidUserBillingControl('account')" />
        <label for="account">Billing</label>
      </p-floatlabel>
      @if (isInvalidUserBillingControl('account')) {
        <p-message severity="error" size="small" variant="simple">Billing is required.</p-message>
      }
    </div>

    <div class="flex items-center gap-2">
      <p-checkbox [formControlName]="'isActive'" [binary]="true" [inputId]="'isActive'" [invalid]="isInvalidUserControl('isActive')" />
      <label [for]="'isActive'">Active</label>
    </div>

    <button id="btn-reset" class="btn btn-ghost" type="submit">{{editMode ? 'Update' : 'Create'}} user</button>
  </form>
</div>
