<div class="sidebar z-20"
     [ngClass]="{'sidebar-collapsed': isSidebarCollapsed()}"
     tabindex="0" (click)="$event.stopPropagation()">
  @if (isSidebarCollapsed()) {
    <div class="flex flex-col justify-between items-center h-full">
      <div class="flex flex-col items-center gap-4">

        <p class="text-[11px] text-[#4a1fb8]">AITENCY</p>

        <p-button class="pb-4" icon="pi pi-user" size="small" pTooltip="Onboarding" [routerLink]="['/onboarding']" />

        @if (userStore.currentUser().role === 'Demo') {
          <p-button icon="pi pi-user-plus" aria-label="Save" size="small" pTooltip="Register new account" />
        }

        @for (item of filteredItems(); track item) {
            <p-button [icon]="'pi ' + item.icon" size="small" [pTooltip]="item.title" [routerLink]="[item['path']]" [ngClass]="{'active-button': isItemActive(item)}" />
        }
      </div>
      <div class="flex flex-col gap-4">
        @if (userStore.currentUser().role === 'Demo') {
          <div class="text-[10px] text-green-300">
            <p>DEMO</p>
            <p>MODE</p>
          </div>
        }
        @if (userStore.currentUser().role !== 'Demo') {
        <p-button icon="pi pi-sign-out" aria-label="Save" size="small" pTooltip="Logout" />
        }
      </div>
    </div>

  } @else {
    <aside>
      <div class="flex flex-col gap-4">
        <img src="logo.png" alt="" class="w-40">
        <div class="brand">
          <div class="logo">AI</div>
          <div class="brand-text">
            <div class="brand-name">{{userStore.currentUser().fullName}}</div>
            <div class="brand-sub">{{userStore.currentUser().email}}</div>
          </div>
        </div>
        @if (userStore.currentUser().role === 'Demo') {
          <button id="btn-reset" class="btn btn-ghost" [routerLink]="['/register']">Register new account</button>
        }

<!--        <nav class="nav">-->
<!--          @for (item of items; track item) {-->
<!--            @if (roleCompatability(item.roles)) {-->
<!--              <a class="nav-item" [routerLinkActive]="'active'" [routerLink]="[item.path]">-->
<!--                <span class="nav-dot"></span><span>{{item.title}}</span>-->
<!--              </a>-->
<!--            }-->
<!--          }-->

          <p-panel-menu [model]="filteredItems()" class="nav">
            <ng-template #item let-item>
              @if (item.path === 'billing') {
                @if (onboardingService.onboardingStatus()?.status !== 'NotStarted') {
                  <a pRipple
                     class="nav-item flex items-center justify-between"
                     [ngClass]="{'active': isItemActive(item)}"
                     [routerLink]="item.path === 'billing' ? null: [item.path]"
                  >
                    <div class="flex items-center gap-3">
                      <div class="nav-dot"></div>
                      <div>{{item.title}}</div>
                    </div>
                    @if (item.items && item.items.length > 0) {
                      <i class="pi pi-chevron-down transition-transform duration-200" [style.transform]="item.expanded ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
                    }
                  </a>
                }
              } @else {
                <a pRipple
                   class="nav-item flex items-center justify-between"
                   [ngClass]="{'active': isItemActive(item)}"
                   [routerLink]="item.path === 'billing' ? null: [item.path]"
                >
                  <div class="flex items-center gap-3">
                    <div class="nav-dot"></div>
                    <div>{{item.title}}</div>
                  </div>
                  @if (item.items && item.items.length > 0) {
                    <i class="pi pi-chevron-down transition-transform duration-200" [style.transform]="item.expanded ? 'rotate(180deg)' : 'rotate(0deg)'"></i>
                  }
                </a>
              }
            </ng-template>
          </p-panel-menu>
<!--        </nav>-->
      </div>

      <div class="flex flex-col gap-4">
        @if (userStore.currentUser().role === 'Demo') {
          <div class="demo-tip">
            <p>DEMO MODE</p>
            <p>Limited functionality</p>
          </div>
        }

        @if (userStore.currentUser().role !== 'Demo') {
          @if (onboardingService.onboardingStatus()?.status !== 'Completed') {
            <button id="btn-onboarding" class="btn" [routerLink]="['/onboarding']">Onboarding</button>
          }

          <button id="btn-reset" class="btn btn-ghost" (click)="authService.logout()">Logout</button>
        }
      </div>
    </aside>
  }
</div>
