@if (this.route.snapshot.params['id'] !== 'new' ? ($automationInfo | async) : false; as info) {
<div class="flex flex-col gap-4">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">Automation Info</span>
      </div>
    </ng-template>
    <!--  <ng-template #footer>-->
    <!--    <div class="flex flex-wrap items-center justify-between gap-4">-->
    <!--      <div class="flex items-center gap-2">-->
    <!--        <p-button icon="pi pi-user" rounded text></p-button>-->
    <!--        <p-button icon="pi pi-bookmark" severity="secondary" rounded text></p-button>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </ng-template>-->
    <ng-template #icons>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>

      <div class="grid grid-cols-2">
        <div class="flex items-center gap-2">
          <p>ID:</p>
          <p>{{info.id}}</p>
        </div>
        <div class="flex items-center gap-2">
          <p>User ID:</p>
          <p>{{info.userId}}</p>
        </div>
        <div class="flex items-center gap-2">
          <p>Active:</p>
          <p>{{info.isActive}}</p>
        </div>
        <div class="flex items-center gap-2">
          <p>Server ID:</p>
          <p>{{info.serverId}}</p>
        </div>
        <div class="flex items-center gap-2">
          <p>Demo:</p>
          <p>{{info.isDemo}}</p>
        </div>
      </div>

  </p-panel>
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">Automation Logs</span>
      </div>
    </ng-template>
    <!--  <ng-template #footer>-->
    <!--    <div class="flex flex-wrap items-center justify-between gap-4">-->
    <!--      <div class="flex items-center gap-2">-->
    <!--        <p-button icon="pi pi-user" rounded text></p-button>-->
    <!--        <p-button icon="pi pi-bookmark" severity="secondary" rounded text></p-button>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </ng-template>-->
    <ng-template #icons>
      <p-menu #menu id="config_menu1" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </p-panel>

  <button id="btn-reset" class="btn btn-ghost" [routerLink]="['/demo', info.id]">Go to demo</button>
</div>
} @else {
  <div class="flex flex-col gap-4">
    <p>Create automation</p>
    <form [formGroup]="automationForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 max-w-80">

      <div class="flex flex-col gap-1">
        <input pInputText type="text" id="serverId" placeholder="Server ID" formControlName="serverId" [invalid]="isInvalid('serverId')" />
        @if (isInvalid('serverId')) {
          <p-message severity="error" size="small" variant="simple">Server ID is required.</p-message>
        }
      </div>

      <div class="flex items-center gap-2">
        <p-checkbox [formControlName]="'isActive'" [binary]="true" [inputId]="'isActive'" [invalid]="isInvalid('isActive')" />
        <label [for]="'isActive'">Active</label>
      </div>

      <div class="flex items-center gap-2">
        <p-checkbox [formControlName]="'isDemo'" [binary]="true" [inputId]="'isDemo'" [invalid]="isInvalid('isDemo')" />
        <label [for]="'isDemo'">Demo</label>
      </div>

      <div formGroupName="config">
<!--        @if ($assistantVoices | async; as voices) {-->
        <div class="flex flex-col gap-1">
          <p-select formControlName="voice" [options]="voices" [invalid]="isInvalid('voice')" optionLabel="name" placeholder="Select a Voice"/>
          @if (isInvalid('voice')) {
            <p-message severity="error" size="small" variant="simple">Voice is required.</p-message>
          }
          </div>
<!--        }-->

        <div class="flex flex-col gap-1">
          <p-input-number inputId="integeronly" mode="decimal" [minFractionDigits]="2" formControlName="volume" [invalid]="isInvalid('volume')" [maxlength]="1" [max]="2"/>
          @if (isInvalid('volume')) {
            <p-message severity="error" size="small" variant="simple">Voice is required.</p-message>
          }
        </div>

      </div>

      <button id="btn-reset" class="btn btn-ghost" type="submit">Create automation</button>
    </form>
  </div>
}
