<main class="main !p-0">
  <section class="hero">
    <div class="hero-text">
      <h1>
        AI Booking & Automation Demo<br />
      </h1>

      <p>
        This interactive demo simulates how an AI Booking Agent handles patient bookings,
        recall reminders, and call automation.
      </p>
    </div>

    <div class="flex flex-col gap-2 pt-4 !max-w-full text-xs sm:text-base">
      <p>This demo showcases the core capabilities of our AI voice assistant.</p>
      <p>The assistant can:
        <p>• Handle reception calls</p>
        <p>• Answer frequently asked questions</p>
        <p>• Make appointment booking</p>
        <p>• Connect to databases and provide information to client</p>
        <p>• Integrate with CRM and booking systems</p>
        <p>• Work via phone, website or messaging platforms</p>
    </div>

  </section>

  <!-- CHAT -->
  <section id="chat-demo" class="panel panel-grid">
    <div class="panel-column">
      <div class="flex items-center justify-between">
        <h2>AI VOICE AGENT</h2>
        @if (assistantService.requestsLimit()) {
          <h2>DEMO LIMIT: <span class="!text-green-300">{{assistantService.requestsLimit()}}</span></h2>
        }
      </div>

      <div class="chat-window">
        <app-voice-assistant></app-voice-assistant>
      </div>
    </div>

    <!-- SYSTEM ACTIVITY -->
    <div id="system-activity" class="panel-column">
      <h2>System Activity Monitor</h2>
      @if (automationsStore.intents().length > 0) {
        <div class="systems-grid">
          @for (intent of automationsStore.intents(); track intent.key) {
            <div
              class="system-card"
              [class.active]="intent.active"
            >
              <div style="display: flex; flex-direction: column; gap: 8px">
                <h3>{{ intent.title }}</h3>
                <p>{{ intent.description }}</p>
              </div>
              <p class="status">
                {{ intent.status }}
              </p>
            </div>
          }
        </div>
      } @else {
        <p class="text-center">
          No intents...
        </p>
      }
    </div>
  </section>
</main>

<footer class="footer">
  <p class="text-xl text-white pb-4">Please note:</p>
  <p class="text-base pb-4">
    This demo operates on limited resources and a simplified
    infrastructure.
    As a result, performance may differ from a fully optimized production
    deployment.
    In a live environment, the system is configured with dedicated
    resources and full database integrations.
    At AITENCY, we don’t believe in one-size-fits-all solutions.
    We design and build custom AI automations tailored to each business.
  </p>
  <p class="pt-4">© {{ currentYear }} AItency – AI Business Automation Demo.</p>
</footer>
