<div class="app-container">
  <div class="position-relative">
    <app-side-menu class="flex-none"
                   [isSidebarCollapsed]="isSidebarCollapsed"
                   (sidebarToggle)="onSidebarToggle($event)"
    ></app-side-menu>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="isSidebarCollapsed = !isSidebarCollapsed"
    >
      <i class="pi" [ngClass]="[isSidebarCollapsed ? 'pi-angle-double-right' : 'pi-angle-double-left']" style="font-size: 1rem"></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <div class="content-inner">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
