<div class="flex flex-col gap-4">
  <h1 class="text-xl text-white font-bold">Automations</h1>
    <p-table
      class="p-4 pb-0 bg-[#1018278c] rounded-2xl border border-[#FFFFFF14]"
      [value]="automationAdminStore.automations()?.items!"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      [rowHover]="true"
      [lazy]="true"
      [totalRecords]="totalRecords!"
      (onLazyLoad)="loadData($event)"
      (onRowSelect)="selectRow($event)"
      selectionMode="single"
    >
      <ng-template #header>
        <tr>
          <th pSortableColumn="id" style="width:20%">
            <div class="flex items-center gap-2">
              Id
              <p-sortIcon field="id" />
            </div>
          </th>
          <th style="width:20%">Active</th>
          <th style="width:20%">Demo</th>
          <th pSortableColumn="serverId" style="width:20%">
            <div class="flex items-center gap-2">
              Server ID
              <p-sortIcon field="serverId" />
            </div>
          </th>
          @if (userStore.currentUser().role === 'Admin') {
            <th pSortableColumn="actions" style="width:20%">
              <div class="flex items-center gap-2">
                Actions
              </div>
            </th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-automation>
        <tr class="cursor-pointer" [pSelectableRow]="automation">
          <td>{{ automation.id }}</td>
          <td class="right">
            <span class="pill" [ngClass]="[automation.isActive ? 'good' : 'warn']">{{ (automation.isActive ? 'Active' : 'Disabled') | uppercase }}</span>
          </td>
<!--          <td>{{ automation.isActive }}</td>-->
          <td>
            <span class="pill" [ngClass]="[automation.isDemo ? 'warn' : 'good']">{{ (automation.isDemo ? 'Demo' : 'Production') | uppercase }}</span>
          </td>
          <td>{{ automation.serverId }}</td>
          @if (userStore.currentUser().role === 'Admin') {
          <td (click)="$event.stopPropagation()">
            <div class="flex gap-2">
              <p-button [routerLink]="['edit', automation.id]">Edit</p-button>
<!--              <p-button severity="danger" (click)="deleteAutomation(automation.id)">Delete</p-button>-->
            </div>
          </td>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center p-4 text-white/50">
            No automations found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  @if (userStore.currentUser().role === 'Admin') {
    <button id="btn-reset" class="btn btn-ghost w-full" [routerLink]="['edit', 'new']">Create automation</button>
  }
</div>
